<div class="page-wrapper loginbg text-white">
    <!-- APPLICATION HEADER-->
    <app-header></app-header>
    <!-- END APPLICATION HEADER-->
    <div class="registration">
        <div class="intro">
            <h2>Earn money with us! </h2>
            <p>Get hired by clients in your area.</p>
        </div>
        <div class="form">
            <p class="mb-5 text-normal">{{ error }} </p>
            <form (ngSubmit)="onSubmit()" #partnerRegForm="ngForm">
                <div class="form-row">
                    <div class="wrapper">
                        <label for="name">Name</label>
                        <input type="text" name="name" [(ngModel)]="user.name">
                    </div>
                    <div class="wrapper">
                        <label for="email">Email</label>
                        <input type="email" name="email" [(ngModel)]="user.email">
                    </div>
                </div>
                <div class="form-row">
                    <div class="wrapper">
                        <label for="phone">Phone Number</label>
                        <input type="text" name="phone" [(ngModel)]="user.phone">
                    </div>

                    <div class="wrapper">
                        <label for="password">Password</label>
                        <input type="password" name="password" [(ngModel)]="user.password">
                    </div>
                </div>
                <!-- <div class="form-row">
                    <div class="wrapper">
                        <label for="category">Service Category</label>
                        <select (change)="onChange($event)" name="category" id="category">
                          <option disabled="disabled" selected>Select Category</option>
                          <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>
                        </select>
                    </div>
                    <div class="wrapper">
                        <label for="location">Location</label>
                        <input type="text" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                    </div>
                </div> -->
                <!-- <div class="form-row">
                    <div class="wrapper">
                        <label for="photo">Profile photo</label>
                        <input type="file" name="photo" (change)="onFileChange($event)" accept=".png,.jpg">
                    </div>
                    <div class="wrapper">

                    </div>
                </div> -->
                <div class="form-row">
                    <div class="wrapper">
                        <input type="submit">
                    </div>
                    <div class="wrapper">
                        <a routerLink="/login"><b>Have an account? Login</b></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- FOOTER-->
    <app-footer></app-footer>
    <!-- END FOOTER-->
</div>