<div class="page-wrapper loginbg text-white">
    <!-- APPLICATION HEADER-->
    <app-header></app-header>
    <!-- END APPLICATION HEADER-->
    <div class="settings">
        <div class="profile">
            <div class="profile-dets">
                <div class="image">
                    <input type="file" name="imege" placeholder="change image">
                </div>
                <h3>Name</h3>
                <p class="email">Email</p>
                <p>Location</p>
                <p>Phone</p>
            </div>
        </div>
        <div class="update-settings">
            <div class="info">
                <h3>Update Your Details</h3>
                <form action="#">
                    <div class="wrapper">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="">
                    </div>
                    <div class="wrapper">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="">
                    </div>
                    <div class="wrapper">
                        <label for="phone">Phone</label>
                        <input type="text" name="phone" id="">
                    </div>

                    <div class="wrapper">
                        <input type="submit" name="submit" value="update details">
                    </div>
                </form>
            </div>

            <div class="info">
                <h3>Update Provider Info</h3>
                <form action="#">
                    <div class="wrapper">
                        <label for="name">Category</label>
                        <select name="category">
                          <option disabled>Select Category</option>
                          <option *ngFor="let category of categories()" [value]="category">{{ category }}</option>
                        </select>
                    </div>
                    <div class="wrapper">
                        <label for="email">Location</label>
                        <input type="email" name="email" id="">
                    </div>
                    <div class="wrapper">
                        <label for="phone">ID Number</label>
                        <input type="text" name="phone" id="">
                    </div>

                    <div class="wrapper">
                        <input type="submit" name="submit" value="update partner details">
                    </div>
                </form>
            </div>

        </div>

    </div>
    <!-- FOOTER-->
    <app-footer></app-footer>
    <!-- END FOOTER-->
</div>
