<div class="page-wrapper loginbg text-white">
    <!-- APPLICATION HEADER-->
    <app-header></app-header>
    <!-- END APPLICATION HEADER-->
    <div class="settings">
        <div class="profile">
            <div class="profile-dets">
                <div class="image"></div>
                <h2>Name</h2>
                <p class="email">Email</p>
                <p>Location</p>
            </div>
        </div>
        <div class="update-settings">
            <div class="info">
                <h3>Update Your Details</h3>
                <form action="#">
                    <div class="wrapper">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="">
                    </div>
                    <div class="wrapper">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="">
                    </div>
                    <div class="wrapper">
                        <label for="phone">Phone</label>
                        <input type="text" name="phone" id="">
                    </div>
                </form>
            </div>

            <div class="info">
                <h3>Update Provider Info</h3>
                <form action="#">
                    <div class="wrapper">
                        <label for="name">Category</label>
                        <input type="text" name="name" id="">
                    </div>
                    <div class="wrapper">
                        <label for="email">Location</label>
                        <input type="email" name="email" id="">
                    </div>
                    <div class="wrapper">
                        <label for="phone">ID Number</label>
                        <input type="text" name="phone" id="">
                    </div>
                </form>
            </div>

        </div>

    </div>
    <!-- FOOTER-->
    <app-footer></app-footer>
    <!-- END FOOTER-->
</div>