.logo-wrap a img {
    width: 67px !important;
}

.nav-header>ul>li>a {
    font-weight: 100 !important;
}

.cta {
    display: grid;
}

.cta a {
    align-self: center;
    color: #ffffff;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    padding: .6em 1em;
    border-radius: 8px;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(to right, rgb(0, 205, 253), rgba(199, 27, 135, 0.8));
    letter-spacing: .2em;
    transition: background .8s ease-in-out;
    transition: border .4s ease-in-out;
}

.cta a:hover {
    background: none;
    border: 2px solid #00cdfd;
    font-weight: 100;
}

.loggedin {
    display: grid;
    grid-template-columns: 50px auto;
    background: none !important;
    grid-gap: 5px;
}

.loggedin .profile,
.loggedin h6 {
    align-self: center;
}

.loggedin h6 {
    color: #FFF;
    font-size: .8em;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2px;
}

.loggedin h6 a {
    font-weight: 100;
    color: #00cdfd
}

.tr-home {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: url(../images/outdoor.jpg) no-repeat center center;
    background-size: cover;
}

.tr-home .intro-overlay {
    width: 100%;
    margin: 0 auto;
    background: rgba(40, 22, 53, 0.59);
}

.tr-home .intro {
    width: 57%;
    padding: 12em 2em;
    letter-spacing: .3em;
}

.tr-home .intro h2 {
    text-transform: uppercase;
    color: #fff;
}

.tr-home .intro a {
    font-size: 1.2em;
    letter-spacing: .2em;
    text-transform: uppercase;
    padding: .5em 1em;
    color: #00cdfd;
    border: 2px solid #00cdfd;
    margin-top: 1.5em;
    border-radius: 5px;
}

.title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.title h2 {
    letter-spacing: .2em;
    padding-top: 2em;
    font-weight: 100;
    font-size: 1.8em;
    text-transform: uppercase;
}

.title h2 span {
    font-weight: bold;
}


/* services section css */

.tr-services {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.tr-services .services {
    width: 80%;
    margin: 1em auto;
    padding: 3em;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 2em;
}

.tr-services .services .service {
    padding: 3em .8em;
    box-shadow: 0px 1px 6px 1px #e6e6e6;
}

.tr-services .services .service::hover {
    transform: scale();
}

.tr-services .services .service .service-icon {
    width: 75px;
    margin: 0 auto;
}

.tr-services .services .service .service-icon svg {
    width: 100%;
    margin: 0 auto;
}

.tr-services .services .service .service-name {
    text-align: center;
    padding-top: 2em;
}

.tr-services .services .service .service-name h3 {
    font-weight: 100;
    font-size: 1em;
    letter-spacing: .2em;
    text-transform: capitalize;
}

.tr-services .services .service .service-name p {
    line-height: 12px;
    font-weight: 200;
    margin-top: 2em;
}


/* Join us section */

.tr-join {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: #f8f8f8;
    clear: both;
}

.tr-join .join {
    width: 80%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 2em;
}

.tr-join .join .steps {
    padding: 2em 3em;
    text-align: justify;
}

.tr-join .join .steps h2 {
    font-size: 1.8em;
    font-weight: 400;
}

.tr-join .join .steps p {
    padding-top: 1.5em;
    font-size: 1.3em;
}

.tr-join .join .steps a {
    color: #f8f8f8;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 400;
    padding: .4em 1em;
    border: 2px solid #cecece;
    border-radius: 5px;
    letter-spacing: .2em;
    margin-top: 2em;
    background: #2b1437;
}

.tr-join .join .steps-image {
    background: url(../images/plumber.jpg) no-repeat center center #ccc;
    background-size: cover;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    align-self: center;
    justify-self: right;
}


/* Parallax section */

.tr-para {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    padding: 0;
    background: url(../images/cleaninghome.jpg) no-repeat center center #2b1437;
    background-size: cover;
    background-attachment: fixed;
}

.tr-para .para-over {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background: rgba(43, 20, 55, 0.54);
    display: grid;
}

.tr-para .para-over .testimonial {
    width: 70%;
    margin: 0 auto;
    align-self: center;
    display: grid;
    grid-template-columns: 20% auto;
    grid-gap: 2em;
}

.tr-para .para-over .testimonial .image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #00cdfd;
    overflow: hidden;
    justify-self: right;
}

.tr-para .para-over .testimonial .image img {
    width: 100%;
    margin: 0 auto;
}

.tr-para .para-over .testimonial .testimony {
    align-self: center;
    text-align: justify;
}

.tr-para .para-over .testimonial .testimony p {
    font-size: 1.2em;
    color: #fff;
    font-weight: 300;
}

.tr-para .para-over .testimonial .testimony p span {
    color: #00cdfd;
    font-weight: bold;
    font-size: 2em;
}

.tr-para .para-over .testimonial .testimony h4 {
    color: #00cdfd;
    font-weight: 500;
}

#buton {
    position: absolute;
    z-index: 9;
    opacity: 1;
    border: #593b9a 2px solid;
    transition: .5s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    line-height: 43px;
    background: #593b9a;
    bottom: 0;
    left: calc(55% - 4.8vh);
    transition: .5s ease-in-out;
    cursor: pointer;
    color: #fff;
}

.register select {
    min-width: 400px;
    height: 3em;
    border: 2px solid #b3eeff;
    color: #fff;
}

.register .au-input {
    color: #fff !important;
}

section {
    overflow: scroll !important;
}

.profile {
    display: grid;
    text-align: center;
}

.profile img {
    justify-self: center;
}

section.protected-gallery {
    background: #0cb3db !important;
}

.protected-gallery .protected-gallery-wrap {
    top: 35% !important;
}

.logout {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
}

.logout-container {
    width: 60%;
    margin: 0 auto;
    align-self: center;
    text-align: center;
}

.logout-container .logo {
    width: 100px;
    margin: 4em auto;
}

.logout-container h2 {
    font-size: 2em;
    color: #333;
}

.logout-container a {
    margin-top: 2em;
    padding: 8px 65px;
    border: 2px solid #00cdfd;
    font-size: 1em;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #FFF;
    background: #00cdfd;
}


/* Registration Page Design */

.registration {
    width: 100%;
    margin: 0 auto;
}

.registration .intro {
    width: 78%;
    margin: 0 auto;
    padding-top: 12px;
}

.intro p {
    font-size: 16px;
}

.registration .form {
    width: 80%;
    margin: 0 auto;
}

.registration .form form {
    width: 60%;
}

.registration .form form .form-row {
    width: 100%;
    margin: 4% auto;
    display: flex;
    align-items: center;
}

.registration .form form .form-row .wrapper {
    width: 100%;
    margin-left: 2%;
}

.registration .form form .form-row .wrapper label {
    display: block;
    font-family: inherit;
    text-transform: capitalize;
    font-size: 16px;
}

.registration .form form .form-row .wrapper input[type="text"],
.registration .form form .form-row .wrapper input[type="email"],
.registration .form form .form-row .wrapper input[type="password"],
.registration .form form .form-row .wrapper select {
    width: 98%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #8c8c8c;
    box-shadow: none;
}

.registration .form form .form-row .wrapper select {
    width: 98%;
    height: 45px;
}

.registration .form form .form-row .wrapper input[type="submit"] {
    width: 98%;
    margin: 0 auto;
    text-align: center;
    background: #00cdfd;
    padding: 7px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #00cdfd;
}

.registration .form form .form-row .wrapper a {
    color: #2c1437;
    font-size: 14px;
    text-decoration: underline;
    float: right;
    margin-right: 10px;
}

.services-container {
    width: 100%;
    margin: 0 auto;
}

.services-container .services-intro {
    width: 100%;
    margin: 0 auto;
    background: #00cdfd;
    padding: 40px 0;
}

.services-container .services-intro .intro {
    width: 78%;
    margin: 0 auto;
    padding: 20px 0;
}

.services-container .services-intro .intro h2 {
    font-size: 24px;
    font-weight: 200;
    width: 65%;
}


/* List of providers section */

.services-container .service-providers {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    align-items: flex-start;
}

.services-container .service-providers .filter {
    width: 30%;
    align-self: flex-start;
    margin-right: 20px;
    background-color: #FFF;
    border: 1px #F2F2F2 solid;
    padding: 20px;
    border-radius: 5px;
}

.services-container .service-providers .filter form {
    width: 100%;
    margin: 0 auto;
}

.services-container .service-providers .filter form .wrapper {
    display: block;
    width: 100%;
    margin: 10px auto;
}

.services-container .service-providers .filter form .wrapper label {
    font-size: 16px;
    text-transform: capitalize;
    color: #2b1437;
}

.services-container .service-providers .filter form .wrapper input[type="text"] {
    width: 100%;
    margin: 0 auto;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #cecece;
}

.services-container .service-providers .filter form .wrapper select {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #cecece;
    height: 42px;
}

.services-container .service-providers .filter form .wrapper input[type="submit"] {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: #00cdfd;
    padding: 7px;
    color: #2c1437;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #00cdfd;
}

.services-container .service-providers .providers {
    width: 70%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5%;
}

.services-container .service-providers .providers .provider {
    width: 100%;
    margin: 0 auto;
    display: flex;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    justify-content: center;
}

.services-container .service-providers .providers .provider .provider-details {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    padding: 17px 0;
    align-items: center;
}

.services-container .service-providers .providers .provider .provider-details .provider-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    background: #333;
    top: -40px;
    position: relative;
}

.services-container .service-providers .providers .provider .provider-details .provider-image img {
    width: 100%;
    margin: 0 auto;
}

.services-container .service-providers .providers .provider .provider-details .name {
    font-weight: 200;
    font-size: 20px;
    color: #2b1437;
}

.services-container .service-providers .providers .provider .provider-details .category {
    font-size: 16px;
    font-weight: bold;
}

.services-container .service-providers .providers .provider .provider-details .contact {
    display: flex;
    align-items: flex-start;
    color: #2b1437
}

.services-container .service-providers .providers .provider .provider-details .contact span {
    margin-right: 5px;
    font-weight: bold;
}

.services-container .service-providers .providers .provider .provider-details button {
    background: #2b1437;
    color: #FFF;
    padding: 5px;
}


/* Settings Page style.  */

.settings {
    display: grid;
    grid-template-columns: 30% 60%;
    grid-gap: 5%;
    width: 70%;
    margin: 2% auto;
    padding-top: 5%;
}

.settings .profile .profile-dets {
    width: 100%;
    margin: 4px auto;
}

.settings .profile .profile-dets .image {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background: #f5f5f5;
    display: grid;
}

.settings .profile .profile-dets .image input[type="file"] {
    align-self: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    color: #333;
    opacity: .2;
}

.settings .profile .profile-dets h3,
p {
    font-weight: 300;
    padding: 2px;
}

.settings .profile .profile-dets .image input[type="file"]:hover {
    opacity: 1;
}

.settings .update-settings .info {
    width: 100%;
    margin: 4px auto;
}

.settings .update-settings {
    align-self: flex-end;
}

.settings .update-settings .info h3 {
    font-weight: 100;
}

.settings .update-settings .info form {
    width: 100%;
    margin: 2em auto;
}

.settings .update-settings .info form .wrapper {
    width: 100%;
    margin: 4px auto;
}

.settings .update-settings .info form .wrapper label {
    display: block;
    font-weight: 700;
}

.settings .update-settings .info form .wrapper input[type="text"],
.settings .update-settings .info form .wrapper input[type="email"] {
    width: 50%;
    padding: 4px;
    border-radius: 5px;
    height: 42px;
    border: 1px solid #a6a6a6;
}

.settings .update-settings .info form .wrapper select {
    width: 50%;
    border-radius: 0;
    height: 46px;
}

.settings .update-settings .info form .wrapper input[type="submit"] {
    padding: 5px;
    background: #2b1437;
    color: #fff;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    margin-top: 2px;
}
