<div class="page-wrapper text-white ">
    <!-- APPLICATION HEADER-->
    <app-header></app-header>
    <!-- END APPLICATION HEADER-->

    <div class="services-container">
        <div class="services-intro">
            <div class="intro">
                <h2>Find house cleaning, repair, plumbing, electrical or mechanical services near you.</h2>
            </div>
        </div>

        <div class="service-providers">
            <div class="filter">
                <form>
                    <div class="wrapper">
                        <label for="location">Location</label>
                        <input type="text" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                    </div>
                    <div class="wrapper">
                        <label for="category">Category</label>
                        <select class="form-control" (change)="onChange($event)" id="exampleSelect1">
                            <option disabled="disabled">Select Category</option>
                            <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>
                        </select>
                    </div>
                    <div class="wrapper">
                        <input (click)="filterPartners()" type="submit" value="Search">
                    </div>
                </form>
            </div>
            <div class="providers">
                <div *ngFor="let partner of partners" class="provider">
                    <div class="provider-image">
                        <img src="assets/images/shop-01.jpg" alt="young lucy" />

                        <p class="category">{{ partner.category }}</p>
                    </div>
                    <div class="provider-details">
                        <h3 class="name">{{ partner.name }}</h3>
                        <p class="category">Service Category: {{ partner.category }}</p>
                        <p class="location">{{ partner.location }}</p>
                        <div class="contact">
                            <span>Phone: {{ partner.phone }} |</span><span> Email: {{ partner.email }} </span>
                        </div>
                        <button (click)="toProfilePage(partner.id)"> Book Trudy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- FOOTER-->
    <app-footer></app-footer>
    <!-- END FOOTER-->
</div>
